{%extends 'base.html'%}

{%block conteudo%}
<h1 class="mt-5">Minha agenda</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefone</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="#"> Artur</a>
            </td>
            <td>Fortunato</td>
            <td>48 9944-5593</td>
            <td>Colega Faculdade</td>
        </tr>
        <tr>
            <td>
                <a href="#"> Rafael</a>
            </td>
            <td>Caldeira</td>
            <td>45 9822-2600</td>
            <td>Dev_JS</td>
        </tr>
        <tr>
            <td>
                <a href="#"> Lucas</a>
            </td>
            <td>Garcia</td>
            <td>48 9655-9767</td>
            <td>Cunhado</td>
        </tr>
        <tr>
            <td>
                <a href="#"> Robson</a>
            </td>
            <td>Lorusso</td>
            <td>48 8423-5212</td>
            <td>Amigo</td>
        </tr>
        <tr>
            <td>
                <a href="#"> Juliano</a>
            </td>
            <td>Lopez</td>
            <td>48 9165-8922</td>
            <td>Irmão</td>
        </tr>
    </tbody>
</table>
{%endblock%}